/* 8. CUSTOM LAYOUT & TYPOGRAPHY (Daddy bear)
----------------------------------------------------------------------------------------*/
#container {
	padding: 1.618em;
	margin: 0 auto; 
	max-width: 60em;
	}

.large-title-text{
font-size:xx-large;
color:#d8005f;
display:inline;
}

.small-title-text{
font-size:xx-large;
color:#d8005f;
padding-left:.5em;
display:none;
}

.large-display{
	display:inline;
}

.large-display-alternate{
	display:none;
}

div.righty{
border-left: .25em solid #d8005f;
float:left;
width:75%;
background: #fff;
min-height:50%;
padding:1em;
}

div.lefty{
float: left;
width: 182px;
clear: both;
background: #E5FB00;
}

ul {
	list-style:none;
	padding:0; margin:20px 0 0 0; text-indent:0;
	float:right;
	width:80%;
}

nav li a {
	display:block; 
	background-color:#e5fb00;
	padding:7px; margin:0;
	text-decoration:none; color:#000;
	border-bottom:1px solid #d8005f;
	text-align:left;
}

nav li a:after{
	content:">>";
	color:#D8005F; 
	display:inline;
	float:right;
	margin:0 10px 0 5px;
}


/* 9. CUSTOM LAYOUT & TYPOGRAPHY (Mummy bear)
----------------------------------------------------------------------------------------*/
@media screen and (min-width: 30em) and (max-width: 63.236em) {

#container { width: 30em; }

div.righty{
border-left: none;
width:100%;
}

div.lefty{
float:left;
width:100%%;
clear:both;
background:#E5FB00;
padding:0em;
}

ul {
	list-style:none;
	padding:0; margin:20px 0 0 0; text-indent:0;
	float:left;
	width:100%;
}

nav li a:after{
	content:"";
	}
	
.large-display{
	display:none;
}

.large-display-alternate{
	display:inline;
}

	
}