body {
	background:blue;
	margin:0px;
	padding:0px;
	background: #FEFEFE;
}

#mainBox {
	margin:0px;
	padding:0px;
	//background:purple;
	padding-top:5px;
	padding-left:5px;
}

.grad-neutral {	
	background: -moz-linear-gradient(top,  rgba(226,226,226,0.91) 0%, rgba(219,219,219,0.94) 31%, rgba(209,209,209,0.96) 51%, rgba(254,254,254,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(226,226,226,0.91)), color-stop(31%,rgba(219,219,219,0.94)), color-stop(51%,rgba(209,209,209,0.96)), color-stop(100%,rgba(254,254,254,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(226,226,226,0.91) 0%,rgba(219,219,219,0.94) 31%,rgba(209,209,209,0.96) 51%,rgba(254,254,254,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(226,226,226,0.91) 0%,rgba(219,219,219,0.94) 31%,rgba(209,209,209,0.96) 51%,rgba(254,254,254,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(226,226,226,0.91) 0%,rgba(219,219,219,0.94) 31%,rgba(209,209,209,0.96) 51%,rgba(254,254,254,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(226,226,226,0.91) 0%,rgba(219,219,219,0.94) 31%,rgba(209,209,209,0.96) 51%,rgba(254,254,254,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8e2e2e2', endColorstr='#fefefe',GradientType=0 ); /* IE6-9 */
}

.grad-green {
	background: -moz-linear-gradient(top, rgba(34,160,25,1) 0%, rgba(81,185,89,1) 44%, rgba(134,214,161,0.11) 94%, rgba(134,214,161,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(34,160,25,1)), color-stop(44%,rgba(81,185,89,1)), color-stop(94%,rgba(134,214,161,0.11)), color-stop(100%,rgba(134,214,161,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(34,160,25,1) 0%,rgba(81,185,89,1) 44%,rgba(134,214,161,0.11) 94%,rgba(134,214,161,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(34,160,25,1) 0%,rgba(81,185,89,1) 44%,rgba(134,214,161,0.11) 94%,rgba(134,214,161,0) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(34,160,25,1) 0%,rgba(81,185,89,1) 44%,rgba(134,214,161,0.11) 94%,rgba(134,214,161,0) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(34,160,25,1) 0%,rgba(81,185,89,1) 44%,rgba(134,214,161,0.11) 94%,rgba(134,214,161,0) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#22a019', endColorstr='#0086d6a1',GradientType=0 ); /* IE6-9 */
}

.grad-pink{
	background: -moz-linear-gradient(top, rgba(255,175,175,1) 0%, rgba(255,193,193,1) 44%, rgba(255,214,214,0.11) 94%, rgba(255,214,214,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,175,175,1)), color-stop(44%,rgba(255,193,193,1)), color-stop(94%,rgba(255,214,214,0.11)), color-stop(100%,rgba(255,214,214,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(255,175,175,1) 0%,rgba(255,193,193,1) 44%,rgba(255,214,214,0.11) 94%,rgba(255,214,214,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(255,175,175,1) 0%,rgba(255,193,193,1) 44%,rgba(255,214,214,0.11) 94%,rgba(255,214,214,0) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(255,175,175,1) 0%,rgba(255,193,193,1) 44%,rgba(255,214,214,0.11) 94%,rgba(255,214,214,0) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(255,175,175,1) 0%,rgba(255,193,193,1) 44%,rgba(255,214,214,0.11) 94%,rgba(255,214,214,0) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffafaf', endColorstr='#00ffd6d6',GradientType=0 ); /* IE6-9 */
}

.grad-med-red{
	background: -moz-linear-gradient(top,  rgba(255,89,89,1) 0%, rgba(255,135,135,1) 44%, rgba(255,188,188,0.11) 94%, rgba(255,188,188,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,89,89,1)), color-stop(44%,rgba(255,135,135,1)), color-stop(94%,rgba(255,188,188,0.11)), color-stop(100%,rgba(255,188,188,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,89,89,1) 0%,rgba(255,135,135,1) 44%,rgba(255,188,188,0.11) 94%,rgba(255,188,188,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,89,89,1) 0%,rgba(255,135,135,1) 44%,rgba(255,188,188,0.11) 94%,rgba(255,188,188,0) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,89,89,1) 0%,rgba(255,135,135,1) 44%,rgba(255,188,188,0.11) 94%,rgba(255,188,188,0) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(255,89,89,1) 0%,rgba(255,135,135,1) 44%,rgba(255,188,188,0.11) 94%,rgba(255,188,188,0) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff5959', endColorstr='#00ffbcbc',GradientType=0 ); /* IE6-9 */
}

.grad-red{
	background: -moz-linear-gradient(top,  rgba(255,0,0,1) 0%, rgba(255,88,88,1) 44%, rgba(255,188,188,0.11) 94%, rgba(255,188,188,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,0,0,1)), color-stop(44%,rgba(255,88,88,1)), color-stop(94%,rgba(255,188,188,0.11)), color-stop(100%,rgba(255,188,188,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,0,0,1) 0%,rgba(255,88,88,1) 44%,rgba(255,188,188,0.11) 94%,rgba(255,188,188,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,0,0,1) 0%,rgba(255,88,88,1) 44%,rgba(255,188,188,0.11) 94%,rgba(255,188,188,0) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,0,0,1) 0%,rgba(255,88,88,1) 44%,rgba(255,188,188,0.11) 94%,rgba(255,188,188,0) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(255,0,0,1) 0%,rgba(255,88,88,1) 44%,rgba(255,188,188,0.11) 94%,rgba(255,188,188,0) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff0000', endColorstr='#00ffbcbc',GradientType=0 ); /* IE6-9 */
}

#accessControls {
	display:block;
	width:315px;
	overflow:hidden;
	clear:both;
	
	border-style:solid;
	border-radius: 3px;
	border-color:black;
	border-width:1px;
	
	padding-right:7px;
	padding-bottom:7px;
	padding-top:5px;
	
	margin: 0px auto;
}

#checkinControls {
	display:block;
	width:315px;
	overflow:hidden;
	clear:both;
	
	padding-left:7px;
	padding-top:7px;
	padding-bottom:7px;
	
	margin: 0px auto;
}

#results {
	width:320px;
	height:250px;
	clear:both;
	
	padding-left:7px;
	padding-top:7px;
	
	margin:0px auto;
}

#checkinButton{
	width: 300px;
	height: 100px;
	font-size:3em;
}

.controlUnit {
	float:right;
	margin: 2px;
	padding: 2px;
}
