/* dimgray == #696969
ghostwhite == #f8f8ff
skyBlue == #87ceeb
deepskyblue == #00bfff
lightskyblue == #87cefa */

* {
    margin:0;
    font-family:Arial;
	font-color:dimgray;
}
html, body {
    height: 100%;
    background:#fff;
}
body {
    background:deepskyblue;
}

.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -6.75em;
	overflow:hidden;
    /* the bottom margin is the negative value of the footer's total height 
	- the footers total height is given by the footer text (height+padding)*fontsize + the foother topper height*/
}
.footer, .push {
    height: 6.75em;
    /* .push must be the same height as .footer */
    clear:both;
}
footer {
    text-align:center;    
}

.header {
	text-align:center;
    width:100%;
    padding-top:1em;
}

div#spacer{
	min-height:.1em;
	max-height:1em;
	height:1em;
}

div#content{
	overflow:hidden;
}

div#headerTitle{
	background-color:skyblue;
	border-radius:5%;
	width:60%;
    max-width:13.5em;
    min-width:7.2em;
	min-height:2.5em;
	max-height:7em;
	padding-left:.5em;
    padding-right:.5em;
    padding-top:.1em;
    padding-bottom:.1em;
    margin-left:auto;
    margin-right:auto;
}

div#timers{
    background-color:ghostwhite;
    width:80%;
    max-width:20em;
    min-width:5.25em;
	max-height:20em;
    padding:1em;
    border-radius:5%;
    margin-left:auto;
    margin-right:auto;
    text-align:left;
}

.timer{       
    padding:.2em;
    border:medium solid dimgray;
    border-radius:5%;
    max-width:11.5em;    
    margin-left:auto;
    margin-right:auto;
}

#firstTimer{
    margin-bottom:1em;
}

#startTimerButton{
	width:6em;
	min-height:2em;
	margin-left:auto;
	margin-right:auto;
	display:block;
}

#footerTopper{
	background-image:url('//gunnargissel.com/images/littleCloud.png'),  url('//gunnargissel.com/images/mediumCloud.png'), url('//gunnargissel.com/images/bigCloud.png');
	background-position:bottom;
	height:5em;
	display:block;
}

#footerText{
	background:ghostwhite;
	padding-top:.5em;
    font-size:.5em;
	height:3em;
	display:block;
}
