/* 8. CUSTOM LAYOUT & TYPOGRAPHY (Daddy bear)
----------------------------------------------------------------------------------------*/
#container {
	padding: 1em;
	margin: 0 auto; 
	max-width: 100%;
	}
    
article.blogpost {
    max-width:60em;
    border:dotted;
}

header.blogpost {
    padding:0em;
}

aside.blogpost {
    max-width:10em;
    display:block;
}

span.pageTitleContainer{
    display:block;
}



/* 9. CUSTOM LAYOUT & TYPOGRAPHY (Mummy bear)
----------------------------------------------------------------------------------------*/
@media screen and (min-width: 30em) and (max-width: 63.236em) {
    aside.blogpost{
        max-width:5em;
        display:block;  
    }
    
    article.blogpost{
        border:dotted;
        max-width:30em;
    }
    
    #container { 
        max-width: 30em; 
        }
    
}